<div class="left-part">
  <div class="second-title mt-5">
    <p class="sub-title text">un' iniziativa</p>
    <%= image_tag "le-wagon.png", class: "logo m-top"  %>
  </div>
  <div class="main-title">
    <h1 class="title red-color">STAY HOME</h2>
    <h1 class="title">KEEP GROWING</h2>
  </div>
  <div id="third" class="third-title index">
    <p class="index text">supported by</p>
    <div class="logos-title">
      <div class="logos-container">
        <div class="logos">
          <%= image_tag "ftech.png", class: "logo-ft"  %>
          <%= image_tag 'fthub-milan.jpg', class: "logo-ft-milan" %>
          <%= image_tag 'bfrance.jpg', class: "logo-bf" %>
        </div>
      </div>
    </div>
  </div>
  <div id="circle-top"></div>
</div>
<div class="right-part">
  <div class="list">
    <div class="list-intro">
      <p>🚀 From the community to the community.</p>
      <p class="motto">Free, online workshop per imprenditori digitali, startups e futuri devlopers. </p>
      <p class="notice">Tutti gli eventi sono online, è necessario registrarsi sul link di eventbrite per partecipare)</p>
      <br>
      <br>
      <div class="current-events">
        <% @current_events.each do |value| %>
          <%= render "event", locals: { 
                                date: value["date"],
                                time: value["time"], 
                                title: value["title"],
                                user: value["user"],
                                topic: value["topic"],
                                user_link: value["user_link"],
                                event_link: value["event_link"],
                                 } %>
        <% end  %>
      </div>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <div class="past-events">
        <% @past_events.reverse.each do |value| %>
          <%= render "past_event", locals: { 
                                date: value["date"],
                                time: value["time"], 
                                title: value["title"],
                                user: value["user"],
                                topic: value["topic"],
                                 } %>
        <% end  %>
      </div>
    </div>
  </div>
</div>
